<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>OSICAlytics</title>
    <link rel="apple-touch-icon" sizes="57x57" href="https://osic.org/sites/all/themes/custom/osic_theme/images/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="https://osic.org/sites/all/themes/custom/osic_theme/images/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://osic.org/sites/all/themes/custom/osic_theme/images/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://osic.org/sites/all/themes/custom/osic_theme/images/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://osic.org/sites/all/themes/custom/osic_theme/images/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://osic.org/sites/all/themes/custom/osic_theme/images/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://osic.org/sites/all/themes/custom/osic_theme/images/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://osic.org/sites/all/themes/custom/osic_theme/images/favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://osic.org/sites/all/themes/custom/osic_theme/images/favicon/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="https://osic.org/sites/all/themes/custom/osic_theme/images/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="https://osic.org/sites/all/themes/custom/osic_theme/images/favicon/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="https://osic.org/sites/all/themes/custom/osic_theme/images/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="https://osic.org/sites/all/themes/custom/osic_theme/images/favicon/favicon-16x16.png" sizes="16x16">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" crossorigin="anonymous"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js" crossorigin="anonymous"></script>
    <script src="http://unpkg.com/ng-table@1.0.0/dist/ng-table.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js" crossorigin="anonymous"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="assets/js/charts/charts.js"></script>
    <script src="app/app.js"></script>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="assets/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.rawgit.com/esvit/ng-table/1.0.0/dist/ng-table.min.css">
    <base href="/" />

  </head>

  <body>
    <div id="tooltip"></div>
    <div ng-app="osicApp" ng-controller="scoreCtrl as ctrl" ng-init="init()">
      <!-- HEADER -->
      <header>
        <nav class="navbar navbar-default navbar-static-top navbar-inverse">
          <div class="container">
            <img src="assets/images/OSIC_white.png" id="logo">
          </div>
        </nav>
      </header>
      <!-- ENDS HEADER -->

      <!-- CONTAINER -->
      <div class="container-fluid" id="main">

        <div class="alert alert-info alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>Howdy!</strong> This application still needs more lines of code, so please follow this easy instruction: <strong>First choose a start/end date before using the filters!</strong>.
          Allow the application to get all data from Stackalytics, if this is taking more than 5 seconds, try refreshing your browser or collaborate to this project ;)
        </div>


        <div class="row">
          <div class="col-xs-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-calendar" aria-hidden="true"></i> Choose a time frame</h3>
              </div>

              <div class="panel-body">
                <div class="row">
                  <div class="col-xs-12 container-time-frames">
                    <div class="row">
                      <div class="col-xs-12 col-sm-3 time-frames-group">
                        <div class="btn-group" role="group" aria-label="...">
                          <button type="button" class="btn btn-default" ng-click="setTimeFrame('currentWeek')">This week</button>
                          <button type="button" class="btn btn-default" ng-click="setTimeFrame('previousWeek')">Previous week</button>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-3 time-frames-group">
                        <div class="btn-group" role="group" aria-label="...">
                          <button type="button" class="btn btn-default" ng-click="setTimeFrame('currentMonth')">This month</button>
                          <button type="button" class="btn btn-default" ng-click="setTimeFrame('previousMonth')">Previous month</button>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-3 time-frames-group">
                        <div class="btn-group" role="group" aria-label="...">
                          <button type="button" class="btn btn-default" ng-click="setTimeFrame('currentQuarter')">This quarter</button>
                          <button type="button" class="btn btn-default" ng-click="setTimeFrame('previousQuarter')">Previous quarter</button>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-3 time-frames-group">
                        <div class="btn-group" role="group" aria-label="...">
                          <button type="button" class="btn btn-default disabled" ng-click="setTimeFrame('currentRelease')">This release</button>
                          <button type="button" class="btn btn-default disabled" ng-click="setTimeFrame('previousRelease')">Previous release</button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <form name="timeFrames">
                    <div class="col-xs-12">
                    <!-- PANEL BODY -->
                      <div class="form-group">
                        <div class="row">
                          <div class="col-xs-12 col-sm-6">
                            <div class="input-group">
                              <div class="input-group-addon">from</div>
                              <input type="text" class="form-control" id="range.start" placeholder="mm/dd/yyyy" ng-model="startDate" is-open="popupStartDate.opened" datepicker-options="dateOptions" ng-required="true" uib-datepicker-popup="{{ dateFormat }}" ng-pattern="/^[0,1]?\d{1}\/(([0-2]?\d{1})|([3][0,1]{1}))\/(([1]{1}[9]{1}[9]{1}\d{1})|([2-9]{1}\d{3}))$/" time-frame-date>
                              <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openStartDate()">
                                  <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
                                </button>
                              </span>
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-6">
                            <div class="input-group">
                              <div class="input-group-addon">to</div>
                              <input type="text" class="form-control" id="range.end" placeholder="mm/dd/yyyy" ng-model="endDate" is-open="popupEndDate.opened" datepicker-options="dateOptions" ng-required="true" uib-datepicker-popup="{{ dateFormat }}"  ng-minlength="10" ng-maxlength="10" ng-pattern="/^[0,1]?\d{1}\/(([0-2]?\d{1})|([3][0,1]{1}))\/(([1]{1}[9]{1}[9]{1}\d{1})|([2-9]{1}\d{3}))$/" time-frame-dates>
                              <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openEndDate()">
                                  <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
                                </button>
                              </span>
                            </div> <!--div.input-group -->
                          </div>
                        </div>
                      </div>
                    </div> <!-- END PANEL BODY -->
                  </form>
                </div>
              </div> <!-- END PANEL -->
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-filter" aria-hidden="true"></i> Filter results ({{ filteredMembers.length }} out of {{ members.length }} people)</h3>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-xs-12 metrics-filter">
                    <div class="row">
                      <fieldset filters>
                        <div class="col-md-2">
                          <select class="form-control" ng-options="group.name for group in osicGroups track by group.name" ng-model="selectedGroup" ng-change="onFilterChange()">
                            <option value="">All Groups</option>
                          </select>
                        </div>


                        <div class="col-md-2">
                          <select class="form-control" ng-options="module.name for module in osicModules track by module.name" ng-model="selectedModule" ng-change="onFilterChange()">
                            <option value="">All Teams</option>
                          </select>
                        </div>

                        <div class="col-md-2">
                          <select class="form-control" ng-options="hat.text for hat in hats track by hat.id" ng-model="selectedHat" ng-change="onFilterChange()">
                            <option value="">All Companies</option>
                          </select>
                        </div>

                        <div class="col-md-2">
                          <select class="form-control" ng-options="release.text for release in releases track by release.id" ng-model="selectedRelease" ng-change="onReleaseChange()">
                            <option value="">All Releases</option>
                          </select>
                        </div>

                        <div class="col-md-2">
                          <select class="form-control" ng-options="allocation.name for allocation in allocations track by allocation.dedicated" ng-model="selectedAllocation" ng-change="onFilterChange()">
                            <option value="">All Allocations</option>
                          </select>
                        </div>
                      </fieldset>
                    </div>
                  </div>
                </div>
                <button data-toggle="collapse" data-target="#filteredMembers">Show/Hide members</button>


                <div class="col-xs-12 metrics-filter collapse" ng-if="filteredMembers.length > 0" id="filteredMembers">
                  <div class="row">
                    <div class="col-md-2" ng-repeat="member in filteredMembers">
                      {{ member.full_name }}
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

        <uib-tabset active="active">
          <uib-tab index="0" heading="Summary" classes="bg-tabs">
            <div class="row" class="tab-content tab-summary">
              <div class="col-xs-12 col-md-5 metrics-summary">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title"><i class="fa fa-table" aria-hidden="true"></i> Summary</h3>
                </div>
                <div class="panel-body">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Metric</th>
                        <th>Count</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th>Commits</th>
                        <td class="-align-right">{{ metrics.commits.total || 0  }}</td>
                      </tr>
                      <tr>
                        <th>Completed BP</th>
                        <td class="-align-right">{{ metrics.bpc.total || 0 }}</td>
                      </tr>
                      <tr>
                        <th>Drafted BP</th>
                        <td class="-align-right">{{ metrics.bpd.total || 0 }}</td>
                      </tr>
                      <tr>
                        <th>Filed bugs</th>
                        <td class="-align-right">{{ metrics.filed_bugs.total || 0 }}</td>
                      </tr>
                      <tr>
                        <th>Resolved bugs</th>
                        <td class="-align-right">{{ metrics.resolved_bugs.total || 0 }}</td>
                      </tr>
                      <tr>
                        <th>Reviews</th>
                        <td class="-align-right">{{ metrics.marks.total || 0 }}</td>
                      </tr>
                      <tr>
                        <th>Patch sets</th>
                        <td class="-align-right">{{ metrics.patches.total || 0 }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-md-7">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <i class="fa fa-pie-chart" aria-hidden="true"></i> Charts
                  </h3>
                </div>
                <div class="panel-body">
                  <div class="row" style="height:50px;">
                    <div class="col-md-4">
                      <i class="fa fa-circle" aria-hidden="true" style="color:#003C71;"></i> BPC <br/>
                      <i class="fa fa-circle" aria-hidden="true" style="color:#b1babf;"></i> Reviews <br/>
                    </div>
                    <div class="col-md-4">
                      <i class="fa fa-circle" aria-hidden="true" style="color:#0071C5;"></i> Commits <br/>
                      <i class="fa fa-circle" aria-hidden="true" style="color:#F3D54E;"></i> BPD <br/>
                    </div>
                    <div class="col-md-4">
                      <i class="fa fa-circle" aria-hidden="true" style="color:#C4D600;"></i> Patch Sets <br/>
                      <i class="fa fa-circle" aria-hidden="true" style="color:#FFA300;"></i> Resolved Bugs <br/>
                      <i class="fa fa-circle" aria-hidden="true" style="color:#00AEEF;"></i> Filed Bugs
                    </div>
                  </div>
                  <div class="chart-container", id="chartContainer">

                  </div>
                </div>
              </div>
            </div>

          </div>
        </uib-tab>
          <uib-tab index="1" heading="Commits" select="getDetails('commits')">
            <div class="row">
              <div class="col-xs-12">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">
                      <i class="fa fa-list-alt" aria-hidden="true"></i> Commits details
                    </h3>
                  </div>
                  <div class="panel-body">
                    <table ng-table="commits" class="table table-bordered table-striped table-condensed table-hover">
                      <tbody>
                        <tr ng-repeat="row in $data">
                          <td data-title="'#'">{{ $index + 1 }}</td>
                          <td data-title="'Author'" filter="{ author_name: 'text' }" sortable="'author_name'"><span title="{{ row.user_id }}">{{ row.author_name }}</span></td>
                          <td data-title="'Subject'" filter="{ subject: 'text' }" sortable="'subject'"><a href="https://review.openstack.org/#q,{{ row.change_id[0] }}" target="_blank">{{ row.subject }} <i class="fa fa-external-link" aria-hidden="true"></i>
</a></td>
                          <td data-title="'Module'" filter="{ module: 'text' }" sortable="'module'">{{ row.module}}</td>
                          <td data-title="'Lines of Code'" sortable="'loc'">
                            <span class="text-success">+{{ row.lines_added}}</span>
                            <span class="text-danger">-{{ row.lines_deleted }}</span></td>
                          <td data-title="'Company'" filter="{ company: 'text' }" sortable="'company'">{{ row.company_name }}</td>
                          <td data-title="'Date'" sortable="'date'">{{ row.date_str }}</td>
                          <td data-title="'Release'" sortable="'release'">{{ row.release }}</td>
                          <td data-title="'Blueprint'" filter="{ blueprint_id: 'text' }"><span  ng-repeat="bp in row.blueprint_id">{{ bp }}{{$last ? '' : ', '}}</span></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </uib-tab>
          <uib-tab index="2" heading="Completed BP" select="getDetails('bpc')">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">
                  <i class="fa fa-list-alt" aria-hidden="true"></i> Completed BP details
                </h3>
              </div>
              <div class="panel-body">
                <table ng-table="bpc" class="table table-bordered table-striped table-condensed table-hover">
                  <tbody>
                    <tr ng-repeat="row in $data">
                      <td data-title="'#'">{{ $index + 1 }}</td>
                      <td data-title="'Registered By'" filter="{ author_name: 'text' }" sortable="'author_name'">
                        <span title="{{ row.user_id }}">{{ row.author_name }}</span>
                      </td>
                      <td data-title="'Title'" filter="{ title: 'text' }" sortable="'title'">
                        <a href="http://stackalytics.com/report/blueprint/{{ row.module }}/{{ row.name }}" target="_blank">
                          {{ row.name }} <i class="fa fa-external-link" aria-hidden="true"></i>
                        </a>
                      </td>
                      <td data-title="'Module'" filter="{ module: 'text' }" sortable="'module'">{{ row.module }}</td>
                      <td data-title="'Priority'" sortable="'priority'" sortable="'priority'">{{ row.priority }}</td>
                      <td data-title="'Status'" filter="{ status: 'text' }" sortable="'status'">{{ row.definition_status }}</td>
                      <td data-title="'Implementation Status'" filter="{ implementation_status: 'text' }" sortable="'status'">{{ row.implementation_status }}</td>
                      <td data-title="'Release'" filter="{ release: 'text' }" sortable="'release'">{{ row.release }}</td>
                      <td data-title="'Company'" filter="{ company: 'text' }" sortable="'company'">{{ row.company_name }}</td>
                      <td data-title="'Date created'" filter="{ date_created: 'number' }" sortable="'date_created'">{{ row.date_created * 1000 | date:'longDate' }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>


          </uib-tab>
          <uib-tab index="3" heading="Drafted BP" select="getDetails('bpd')">
            <table ng-table="bpd" class="table table-bordered table-striped table-condensed table-hover">
              <tbody>
                <tr ng-repeat="row in $data">
                  <td data-title="'#'">{{ $index + 1 }}</td>
                  <td data-title="'Registered By'" filter="{ author_name: 'text' }" sortable="'author_name'">
                    <span title="{{ row.user_id }}">{{ row.author_name }}</span>
                  </td>
                  <td data-title="'Title'" filter="{ title: 'text' }" sortable="'title'">
                    <a href="http://stackalytics.com/report/blueprint/{{ row.module }}/{{ row.name }}" target="_blank">
                      {{ row.name }} <i class="fa fa-external-link" aria-hidden="true"></i>
                    </a>
                  </td>
                  <td data-title="'Module'" filter="{ module: 'text' }" sortable="'module'">{{ row.module }}</td>
                  <td data-title="'Priority'" sortable="'priority'" sortable="'priority'">{{ row.priority }}</td>
                  <td data-title="'Status'" filter="{ status: 'text' }" sortable="'status'">{{ row.definition_status }}</td>
                  <td data-title="'Implementation Status'" filter="{ implementation_status: 'text' }" sortable="'status'">{{ row.implementation_status }}</td>
                  <td data-title="'Release'" filter="{ release: 'text' }" sortable="'release'">{{ row.release }}</td>
                  <td data-title="'Company'" filter="{ company: 'text' }" sortable="'company'">{{ row.company_name }}</td>
                  <td data-title="'Date created'" filter="{ date_created: 'number' }" sortable="'date_created'">{{ row.date_created * 1000 | date:'longDate' }}</td>
                </tr>
              </tbody>
            </table>
          </uib-tab>

          <uib-tab index="4" heading="Filed bugs" select="getDetails('filed-bugs')">
            <table ng-table="filedBugs" class="table table-bordered table-striped table-condensed table-hover">
              <tbody>
                <tr ng-repeat="row in $data">
                  <td data-title="'#'">{{ $index + 1 }}</td>
                  <td data-title="'Registered By'" filter="{ author_name: 'text' }" sortable="'author_name'">
                    <span title="{{ row.user_id }}">{{ row.author_name }}</span>
                  </td>
                  <td data-title="'Title'" filter="{ title: 'text' }" sortable="'title'">
                    <a href="https://bugs.launchpad.net/{{ row.module }}/+bug/{{ row.number }}" target="_blank">
                      {{ row.title }} <i class="fa fa-external-link" aria-hidden="true"></i>
                    </a>
                  </td>
                  <td data-title="'Module'" filter="{ module: 'text' }" sortable="'module'">{{ row.module }}</td>
                  <td data-title="'Importance'" filter="{ importance: 'text' }" sortable="'importance'">{{ row.importance }}</td>
                  <td data-title="'Status'" filter="{ status: 'text' }" sortable="'status'">{{ row.status }}</td>
                  <td data-title="'Release'" filter="{ release: 'text' }" sortable="'release'">{{ row.release }}</td>
                  <td data-title="'Company'" filter="{ company: 'text' }" sortable="'company'">{{ row.company_name }}</td>
                  <td data-title="'Date created'" filter="{ date_created: 'number' }" sortable="'date_created'">{{ row.date_created * 1000 | date:'longDate' }}</td>
                </tr>
              </tbody>
            </table>
          </uib-tab>

          <uib-tab index="5" heading="Resolved bugs" select="getDetails('resolved-bugs')">
            <table ng-table="resolvedBugs" class="table table-bordered table-striped table-condensed table-hover">
              <tbody>
                <tr ng-repeat="row in $data">
                  <td data-title="'#'">{{ $index + 1 }}</td>
                  <td data-title="'Fixed By'" filter="{ author_name: 'text' }" sortable="'author_name'">{{ row.author_name}}</td>
                  <td data-title="'Registered By'" filter="{ author_name: 'text' }" sortable="'owner'">
                    <span title="{{ row.owner }}">{{ row.owner }}</span>
                  </td>
                  <td data-title="'Title'" filter="{ title: 'text' }" sortable="'title'">
                    <a href="https://bugs.launchpad.net/{{ row.module }}/+bug/{{ row.number }}" target="_blank">
                      {{ row.title }} <i class="fa fa-external-link" aria-hidden="true"></i>
                    </a>
                  </td>
                  <td data-title="'Module'" filter="{ module: 'text' }" sortable="'module'">{{ row.module }}</td>
                  <td data-title="'Importance'" filter="{ importance: 'text' }" sortable="'importance'">{{ row.importance }}</td>
                  <td data-title="'Status'" filter="{ status: 'text' }" sortable="'status'">{{ row.status }}</td>
                  <td data-title="'Release'" filter="{ release: 'text' }" sortable="'release'">{{ row.release }}</td>
                  <td data-title="'Company'" filter="{ company: 'text' }" sortable="'company'">{{ row.company_name }}</td>
                  <td data-title="'Date registered'"  sortable="'date_created'">{{ row.date_created * 1000 | date:'longDate' }}</td>
                  <td data-title="'Date fixed'" sortable="'date_fix_released'">{{ row.date_fix_released * 1000 | date:'longDate' }}</td>
                </tr>
              </tbody>
            </table>
          </uib-tab>
          <uib-tab index="6" heading="Reviews" select="getDetails('marks')">
            <table ng-table="marks" class="table table-bordered table-striped table-condensed table-hover">
              <tbody>
                <tr ng-repeat="row in $data">
                  <td data-title="'#'">{{ $index + 1 }}</td>
                  <td data-title="'Patch Authored by'" filter="{ patch_author_name: 'text' }" sortable="'patch_author_name'">{{ row.patch_author_name}}</td>
                  <td data-title="'Reviewed by By'" filter="{ author_name: 'text' }" sortable="'owner'">
                    <span title="{{ row.user_id }}">{{ row.author_name }}</span>
                  </td>
                  <td data-title="'Title'" filter="{ parent_subject: 'text' }" sortable="'parent_subject'">
                    <a href="{{ row.parent_url }}" target="_blank">
                      {{ row.parent_subject }} <i class="fa fa-external-link" aria-hidden="true"></i>
                    </a>
                  </td>
                  <td data-title="'Module'" filter="{ module: 'text' }" sortable="'module'">{{ row.module }}</td>
                  <td data-title="'Review'" filter="{ value: 'number' }" sortable="'number'">{{ row.value }}</td>
                  <td data-title="'Release'" filter="{ release: 'text' }" sortable="'release'">{{ row.release }}</td>
                  <td data-title="'Company'" filter="{ company: 'text' }" sortable="'company'">{{ row.company_name }}</td>
                  <td data-title="'Date reviewed'" sortable="'date'">{{ row.date * 1000 | date:'longDate' }}</td>
                </tr>
              </tbody>
            </table>
          </uib-tab>
          <!--
          <uib-tab index="7" heading="Patch sets">WIP</uib-tab>
          -->
          <uib-tab index="8">
            <uib-tab-heading>
              <i class="fa fa-users"></i> Roster
            </uib-tab-heading>

            <table class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Group</th>
                  <th>Project</th>
                  <th>Company</th>
                  <th>Allocation</th>
                  <th>Location</th>
                  <th>Stackalytics</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="member in members | orderBy:'full_name'">
                  <td><a href="mailto:{{ member.email }}">{{ member.first_name.concat(' ', member.last_name) }}</a></td>
                  <td>{{ member.group }}</td>
                  <td>{{ member.project.join(', ') }}</td>
                  <td>{{ member.hat }}</td>
                  <td>{{ member.dedicated ? 'Full-time' : 'Part-time' }}</td>
                  <td>{{ member.location }}</td>
                  <td>
                    <span ng-show="member.valid_id">
                      <a href="http://stackalytics.com/?user_id={{ member.launchpad_id }}" target="_blank">{{ member.launchpad_id }} <i class="fa fa-external-link" aria-hidden="true"></i>
</a>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>



          </uib-tab>
        </uib-tabset>

        <div class="row">
          <div class="col-xs-12">
            <div class="panel panel-default">
              <div class="panel-body">
                Developed by <a href="mailto: eddie.ramirez@intel.com">Eddie Ramirez</a> and <a href="mailto: luis.daniel.castellanos@intel.com">Daniel Castellanos</a>
                <br >
                <i class="fa fa-github" aria-hidden="true"></i> <a href="https://github.com/ediardo/osicalytics">Source code on Github</a>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div loading id="overlay">
        <h1>Loading...<img src="assets/images/hourglass.svg"></h1>
      </div>
    </div>

  </body>
</html>
