/*

  TODO: Use this file to import other SCSS Files ONLY
*/
body {
  background-color: #FAFAFA;
}

.container-btn-results {
  margin-top: 15px;  
}

.panel-reviews {
  .panel-heading {
    background-color: #BDCE67;
  }
}

.panel-commits {
  .panel-heading {
    background-color: #D4986A;
  } 
}

.panel-deployed {
  .panel-heading {
    background-color: #41837E;
  }
}

.metrics-filter {
  margin-bottom: 15px;
}
thead {
  font-size: 1.4em;
}
tbody {

  tr:nth-child(odd) {
    background-color: #F0F0F0;
  }
}
.export-csv {
  text-align: right;
}
