html, body {
  height: 100%;
}
body {
  background: url(../images/OSIC_frame_ghost.png) no-repeat right center #edf2f7;
  font-size: 13px;
}


// Modifier classes

.-align-right { text-align: right; }
